In [35]:
import pandas as pd
import numpy as np
import random

# Set seed for reproducibility
np.random.seed(0)

# Define sample salespersons
salespersons = {
    "Noel Thomas": 12,
    "Alex Kim": 14, 
    "Maria Garcia": 15, 
    "John Doe": 22
}
# Define task types and their respective conversion rates
task_types = {
    "Demo": 0.3,
    "Discussion": 0.2,
    "Follow Up": 0.4,
    "Review": 0.15,
    "Planning": 0.25
}

# Define priorities
priorities = ["High", "Normal", "Low"]

# Generate sample data
data = []
for salesperson, num_tasks in salespersons.items():
    for _ in range(num_tasks):
        task_type = random.choice(list(task_types.keys()))
        priority = random.choice(priorities)
        opportunity_size = round(random.uniform(1000, 50000), 2)  # Random opportunity size
        conversion_chance = task_types[task_type]
        converted = np.random.choice([True, False], p=[conversion_chance, 1-conversion_chance])

        data.append([salesperson, task_type, priority, opportunity_size, converted])

# Creating a DataFrame
df = pd.DataFrame(data, columns=["Salesperson", "Task Type", "Priority", "Opportunity Size", "Converted"])

df.head()

   Salesperson   Task Type Priority  Opportunity Size  Converted
0  Noel Thomas    Planning     High          49126.79      False
1  Noel Thomas  Discussion      Low          12350.00      False
2  Noel Thomas        Demo     High          22727.55      False
3  Noel Thomas      Review     High           9576.77      False
4  Noel Thomas      Review   Normal          30682.15      False

In [36]:
df['Salesperson'].value_counts()

Salesperson
John Doe        22
Maria Garcia    15
Alex Kim        14
Noel Thomas     12
Name: count, dtype: int64