In [1]:
import pandas as pd
import random

In [35]:
# read csvs
bank_cust_df = pd.read_csv("bank-customers.csv")
employee_information = pd.read_csv("employee_information.csv")
office_supplies = pd.read_csv("office_supplies.csv")
site_information = pd.read_csv("site_information.csv")

# Defining Relationships

### Employees use office supplies

In [32]:
# Create an empty DataFrame to store the relationships
df_employee_supplies_usage = pd.DataFrame(columns=['Employee_ID', 'Item', 'UnitsUsed', 'DateUsed'])

# Simulating some relationships (In a real application, this data would be collected)
for i in range(5):
    employee_id = random.choice(employee_information['Employee_ID'])
    item = random.choice(office_supplies['Item'])
    units_used = random.randint(1, 5)
    date_used = f"2023-01-{random.randint(1, 30):02d}"
    
    df_employee_supplies_usage.loc[len(df_employee_supplies_usage)] = [employee_id, item, units_used, date_used]

### Employees work on sites

In [36]:
site_information

   Site_ID       Location  Capacity  Business_ID
0        1       New York       100            1
1        2  San Francisco       120            1
2        3        Chicago        80            2

In [37]:
employee_information

   Employee_ID     Name   Position  Business_ID  Site_ID
0            1    Alice  Developer            1        1
1            2      Bob   Designer            1        2
2            3  Charlie    Manager            2        3